
<div class="btn-group-vertical" style="position: absolute; left: 0; top: 50px;" role="group">
    <input name="submit" type="submit" class="btn btn-default" value="All" />
    <input name="submit" type="submit" class="btn btn-default" value="A" />
    <input name="submit" type="submit" class="btn btn-default" value="B" />
    <input name="submit" type="submit" class="btn btn-default" value="C" />
    <input name="submit" type="submit" class="btn btn-default" value="D" />
    <input name="submit" type="submit" class="btn btn-default" value="E" />
    <input name="submit" type="submit" class="btn btn-default" value="F" />
    <input name="submit" type="submit" class="btn btn-default" value="G" />
    <input name="submit" type="submit" class="btn btn-default" value="H" />
    <input name="submit" type="submit" class="btn btn-default" value="I" />
    <input name="submit" type="submit" class="btn btn-default" value="J" />
    <input name="submit" type="submit" class="btn btn-default" value="K" />
    <input name="submit" type="submit" class="btn btn-default" value="L" />
    <input name="submit" type="submit" class="btn btn-default" value="M" />
    <input name="submit" type="submit" class="btn btn-default" value="N" />
    <input name="submit" type="submit" class="btn btn-default" value="O" />
    <input name="submit" type="submit" class="btn btn-default" value="P" />
    <input name="submit" type="submit" class="btn btn-default" value="Q-R" />
    <input name="submit" type="submit" class="btn btn-default" value="S" />
    <input name="submit" type="submit" class="btn btn-default" value="T" />
    <input name="submit" type="submit" class="btn btn-default" value="U-V" />
    <input name="submit" type="submit" class="btn btn-default" value="W-Z" />
    @*<input name="submit" type="submit" class="btn btn-default" value="1-9" />*@
</div>
