@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Countywide Contract Compliance System</h2>
    <p class="lead">The Countywide Contract Compliance System (CCCS) enforces the contractual promise of affirmative action and equal employment opportunity required of those who do business with the Los Angeles County government.</p>
    <p style="color: crimson; font-size: 11pt;">* This page is displayed for the testing purposes only.  The production will require users to log in.</p>
</div>

